<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Database Results</title>

    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="style.css">

</head>

<body>
    <h1>Data from MySQL</h1>
    <h2>There are <%= total %> students in this table.</h2>

    <div class="container">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>id</th>
                    <th>name</th>
                    <th>city</th>
                    <th>age</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <% for (user of users) { %>
                    <tr>
                        <td>
                            <%= user.id %>
                        </td>
                        <td>
                            <%= user.name %>
                        </td>
                        <td>
                            <%= user.city %>
                        </td>
                        <td>
                            <%= user.age %>
                        </td>
                        <td> <a href="/deleteuser">
                                <button class="btn btn-primary">delete</button>
                        </td>
                        </a>
                    </tr>
                    <% } %>
            </tbody>
        </table>
    </div>

    <footer>
        <p>&copy; 2025 Database Results. All rights reserved.</p>
    </footer>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>